:root{
    font-family: 'Courier New', Courier, monospace;
}
:root {
    background-color: beige;
    color: gray;
}
.header{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}
#footer{
    color: brown;
}